*{
    padding: 0;
    margin: 0;
    color: #000000;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
figure{
    display: flex;
    justify-content: center;
}
figure img{
    width: 200px;
}
/* navbar */
nav{
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    background-color:#89facfde;
    padding-bottom: 10px;
    z-index: 10;
}
nav a{
    color: #3d3d3b;
    text-decoration: none;
    margin-top: 10px;
}
.home{
    display: flex;
    justify-content: space-evenly;
    margin-right: 50px;
}
.home div{
    padding-top: 140px;
}
.home img{
    margin-left: 20px;
    width: 500px;
    margin-top: 20px;
}
.home h2{
    font-size: 40px;
    font-weight: 800;
}
.home input{
    width: 250;
    height:50px;
    border-radius: 10px;
    margin-top: 20px;
}
/* section */

section{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}
section p{
    padding-top: 20px;
    font-size: large;
}
/* best sellers */
.best-selling{
    padding-top: 20px;
}
.best-selling h3{
  padding-top: 30px;
  padding-left: 10px;
  padding-bottom: 20px;
}
.group-cards{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    margin: 40px 40px 40px 40px;
}
.books{
    height: 350px;
    border: 2px solid black;
    background-color: wheat;
    border-radius: 5px;
    padding-bottom: 10px;
}
.books img{
    width: 300px;
    height:350px;
    border-radius: 5px;
    filter: opacity(0.9);
}
/* .group-cards h6{
    position: relative;
    top: -120px;
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    font-size: larger;
} */
.books button{
    background: #c0511e;
    color: aliceblue;
    width: 10vw;
    height: 7vh;
    display: block;
    margin: 0;
    position: relative;
    top: -120px;
    cursor: pointer;
    border: navajowhite;
}
/* books-collection */
.card-group{
    display: flex;
    margin-top: -20px;
    margin-bottom: 30px;
}
#books{
    position: relative;
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 30px;
    font-size: x-large;
}
.card-group .card{
    width: 400px;
    height: 500px;
    padding: 30px;
    background-color: whitesmoke;
    margin: 10px;
    border: 1px solid violet;
}
.card-img-top{
    width: 323px;
    height: 350px;
}
.card .card-body{
    background-color: #9df8d5de;
}
/* .card-body .card-title{
    background-color: #373b3e9e;
    color:white;
    text-align: center;
    height: 60px;
    margin-bottom: 10px;
    padding-top: 10px;
} */
.card button{
    background-color:#373b3e9e ;
    color: aliceblue;
    height: 7vh;
    width: 10vw;
    display: block;
   margin: 0 auto;
    border: none;
    padding-top: 10px;
    margin-bottom: 10px;
}
/* connect */
.connect{
    margin-top: 50px;
    background-color:  #89facfde;
    width: 80%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
.connect h3{
    padding-bottom: 20px;
    background-color: #89facfde;
}
.connect img{
    width: 40px;
    background-color: #89facfde;
}
footer{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}
footer p{
    font-size: medium;
}
footer :first-child{
  font-size: large;
}
footer div a{
    color: #000000;
    display: block;
    font-size: medium;
}
footer img{
    width: 30%;
}
/* copyright */
.copyright{
    margin-top: 70px;
    text-align: center;
}
.copyright p{
    color: #4ed19fde;
    font-size: medium;
}
button :hover{
    color: #000000;
    background-color: #f0f8ff;
}
button :active{
    color: #f0f8ff;
    background-color: #000000;
}
nav a:hover{
    background-color: #f0f8ff;
}
/* for PC */
@media(max-width: 900px){
    .home img{
        margin-left: 20px;
        width: 350px;
        margin-top: 20px;
    }
    .home h2{
        font-size: 20px;
        font-weight: 700px;
    }
    .books-group{
        display: grid;
        justify-content: space-evenly;
    }
    .books{
        margin-bottom: 10px;
    }
    .books button{
        width: 15vw;
        height: 7vh;
    }
    .card-group{
        display: grid;
    }
    footer p{
     font-size: 1vw;
    }
    footer div p{
        font-size: 1vw;
    }

}

/* for mobile apps */
@media(max-width : 420px){
    figure{
        margin-top: -15px;
    }
    figure img{
      width: 100px;
    }
    /* home */
    .home{
        margin-right: 10px;
    }
    .home div{
        padding: 70px;
    }
    .home div{
      width: 200px;
      margin-left: 10px;
      margin-top: 10px;
    }
    .home img{
        width: 180px;
        margin-left: -80px;
        margin-top: 10px;
    }
    .home h2{
        font-size: 10px;
    }
    .home input{
        width: 100px;
            height: 20px;
            margin-top: 7px;
    }
    /* section */
    section{
        padding-bottom: 10px;
        padding-top: 30px;
    }
    section h3{
        font-size: medium;
    }
    section p{
        font-size: smaller;
        padding-top: 10px;
    }
    /* best sellers */
    .books-group{
        display: grid;
        margin-left: 10px;
    }
    .books{
        margin-bottom: 20px;
    }
    .books img{
        width: 300px;
        height: 350px;
    }
    .books button{
        width: 20vw;
        height: 5vh;
        display: block;
        margin: 0 auto;
    }
   /* books collection */
   .card-group{
    display: grid;
    margin-left: 22px;
   }
   .card-group .card{
    margin-bottom: 90px;
    margin-top: 40px;
    width: 320px;
    height: 470px;
    margin-left: -2px;
   }
   .card button{
    background-color:#00ffff;
    color: #b6d8da;
    width: 20vw;
    height: 5vh;
    display: block;
    margin: 0 auto;
    border: none;
   }
/* connect */
.connect{
    background-color: #f0f8ff;
}
.connect h3{
    font-size: medium;
    margin-top: -20px;
}
.connect img{
    width: 30px;
}
/* footer */
footer p{
font-size:2vw;
}
footer div :first-child{
    font-size: 2vw;
}
}
