*{
    padding: 0;
    margin: 0;
    color: #000000;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
figure{
    display: flex;
    justify-content: center;
}
figure img{
    width: 300px;
}
/* navbar */
nav{
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
}
nav a{
    color: #323275;
    text-decoration: none;
}
.home{
    display: flex;
    justify-content: space-evenly;
    margin-right: 50px;
}
.home div{
    padding-top: 140px;
}
.home img{
    margin-left: 20px;
    width: 500px;
    margin-top: 20px;
}
.home h2{
    font-size: 40px;
    font-weight: 80px;
}
.home input{
    width: 250;
    height:50px;
    border-radius: 10px;
    margin-top: 20px;
}
